<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title></title>
</head>
<body>
<footer class="blog-footer" th:fragment="footer">
    <p>NewSStand provides you new periodical publications since 2021.</p>
    <p><a href="https://github.com/Swoq/newSStand">Project source code</a> by <a
            href="https://github.com/Swoq">Swoqe</a></p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</body>
</html>